/* ENTIRE PAGE */

body{
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}


/* HEADER COMPONENTS */

#logo{
    padding-left: 10px;
    height: 50px;
    display: inline-block;
    float: left;
}
.header{
    width: 100%;
    height: 69px;
    display: inline;
    border-bottom: 1px solid seashell;
    display: inline-block;
    text-decoration: underline;
    text-align: end;
    float:right; 
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;


}

#header-list{
    display: inline;
    text-decoration: underline;
    word-spacing: 50px;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;

   

}

#mission{

}

#featured-tea{

}

#locations{

}

/* MISSION SECTION */

.mission{
    
    background-image: url("/Users/ianhenderson/Documents/Codecademy/Tea Cozy/Resources/images/background.jpeg");
    height: 700px;
    width: 1200px;
    align-content:flex-end;
    padding-left: 50px;
    padding-right: 50px;

}