/* ENTIRE PAGE */

body{
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}


/* HEADER COMPONENTS */

header{
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    position: sticky;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: right;
    margin-bottom: 1px;
 

}

#logo{
    padding-left: 10px;
    height: 50px;
    display: inline-block;
    float: left;
}

ul{
    display: inline-flex;
    justify-content: right;
    padding-right: 50px;
    margin-right: 50px;
    text-decoration: underline;
    list-style: none;

}

li{
    padding-left: 25px;
}

/* MISSION SECTION */

#mission{
    
    background-image: url("/Users/ianhenderson/Documents/Codecademy/Tea Cozy/Resources/images/background.jpeg");
    min-height: 700px;
    width: auto;
    background-repeat: no-repeat;
    background-position: center top;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#middle-banner{
    border: 1px solid black;
    width: 1200px;
    text-align: center;
    background-color: black;
    height: 130px;
    margin-top: 0%;
    box-sizing: border-box;


}